In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
base_url = "https://www.airlinequality.com/airline-reviews/air-india"
pages = 10
page_size = 100

reviews = []

# for i in range(1, pages + 1):
for i in range(1, pages + 1):

    print(f"Scraping page {i}")

    # Create URL to collect links from paginated data
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data from this page
    response = requests.get(url)

    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    for para in parsed_content.find_all("div", {"class": "text_content"}):
        reviews.append(para.get_text())
    
    print(f"   ---> {len(reviews)} total reviews")

Scraping page 1
   ---> 100 total reviews
Scraping page 2
   ---> 200 total reviews
Scraping page 3
   ---> 300 total reviews
Scraping page 4
   ---> 400 total reviews
Scraping page 5
   ---> 500 total reviews
Scraping page 6
   ---> 600 total reviews
Scraping page 7
   ---> 700 total reviews
Scraping page 8
   ---> 800 total reviews
Scraping page 9
   ---> 900 total reviews
Scraping page 10
   ---> 1000 total reviews

In [5]:
df

                                               reviews
0    ✅ Trip Verified |  Newark to Chennai via Mumba...
1    ✅ Trip Verified | At 0:39 in the morning you a...
2    ✅ Trip Verified |  Had one of the worst experi...
3    Not Verified |  Bad treatment, took Air India ...
4    ✅ Trip Verified |  Requested a gluten free mea...
..                                                 ...
995  Udaipur to New Delhi. The flight left 30 minut...
996  Bom-Jaipur-Bom on A319. I was surprised to rec...
997  Travelled 11th April 2014 was very disappointe...
998  BOM-DEL-SYD we reach domestic airport by 7 am ...
999  Melbourne to Delhi. The new Dreamliner 788 is ...

[1000 rows x 1 columns]

In [3]:
df = pd.DataFrame()
df["reviews"] = reviews
df.head()

                                             reviews
0  ✅ Trip Verified |  Newark to Chennai via Mumba...
1  ✅ Trip Verified | At 0:39 in the morning you a...
2  ✅ Trip Verified |  Had one of the worst experi...
3  Not Verified |  Bad treatment, took Air India ...
4  ✅ Trip Verified |  Requested a gluten free mea...

In [4]:
df.to_csv("F:\Forage\British_Airways\Data/AI_reviews.csv")